<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
    id="https://oneplay.in/tizen" version="0.2.1" viewmodes="maximized">
    <tizen:application id="9xqCvMKehK.Oneplay" package="9xqCvMKehK" required_version="2.3" />
    <content src="index.html" />
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920" />
    <icon src="icon.png" />
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true" />
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution"
        value="extensive" />
    <name>One Play</name>
    <tizen:profile name="tv-samsung" />

    <tizen:privilege name="http://developer.samsung.com/privilege/network.public" />
    <tizen:privilege name="http://tizen.org/privilege/application.launch" />
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
    <tizen:privilege name="http://tizen.org/privilege/tv.display" />
    <tizen:privilege name="http://tizen.org/privilege/fullscreen" />
    <tizen:privilege name="http://tizen.org/privilege/internet" />
    <tizen:privilege name="http://tizen.org/privilege/volume.set" />
    <tizen:privilege name="http://tizen.org/privilege/system" />
    <tizen:privilege name="http://tizen.org/privilege/telephony" />
    <tizen:privilege name="http://tizen.org/privilege/systemmonitor" />
    <tizen:privilege name="http://developer.samsung.com/privilege/drmplay" />
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo" />
    <tizen:metadata key='http://samsung.com/tv/metadata/multiscreen.support' value='true' />
    <tizen:metadata key='http://samsung.com/tv/metadata/multitasking.support' value='true' />
    <tizen:metadata key='multiview_support_new' value='true' />
    <tizen:setting pointing-device-support='enable' />
    <access origin="*" subdomains="true"></access>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="enable"
        encryption="disable" install-location="auto" hwkey-event="enable" />

</widget>