body {
  background-color: #151617 !important;
}

.btnGradient {
  background: linear-gradient(300.3deg,#0575e6 9.6%,#ff0cf5 92.85%);
  border: none !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  padding: 10px !important;
  border-radius: 60px !important;
}

.bg {
  background: linear-gradient(270deg,#A83AFE 0%,#6E59FE 100%);
}

.textOffWhite {
  color: #959595;
}

.font500 {
  font-weight: 500;
}

.customOverlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.12%, rgba(0, 0, 0, 0.52) 51.58%, rgba(0, 0, 0, 0.8) 100%);
  bottom: 0;
  top: auto;
}

.banner {
  object-fit: cover;
  object-position: top;
  height: 500px;
}

.store {
  position: relative;
  border-radius: 6px;
}

.store.selected {
  outline: 2px solid #a83afe;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  height: 1em;
  margin: 0;
  margin-left: auto;
  flex: none;
  outline: none;
  transition: all 0.2s;
  width: 1em;
  position: absolute;
  top: 2px;
  right: 8px;
}
.checkbox::after{
   border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.6em;
    left: 0.35em;
    position: absolute;
    top: 0.2em;
    transform: rotate(45deg);
    width: 0.3em;
}
.checkbox:focus{
  box-shadow: 0 0 0 2px #A83AFE;
}
.checkbox:checked{
     background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%); 
    border-color: #A83AFE;
}
.gamePosterPlaceholder {
  background: linear-gradient(300.3deg,#0575e6 9.6%,#ff0cf5 92.85%);
  border: none !important;
  border-radius: 60px !important;
  height: 265px;
  width: 352px;
}

.inputControl {
  color: #ffffff !important;
  background-color: transparent !important;
  border-bottom: 4px solid #3E4246 !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
  font-size: 25px !important;
  font-weight: 700 !important;
}

.inputControl:focus {
  box-shadow: none !important;
  outline: none !important;
}

.inputControl::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff !important;
  opacity: 1; /* Firefox */
  font-size: 28px !important;
  font-weight: 700 !important;
}

.inputControl:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffffed !important;
  font-size: 28px !important;
  font-weight: 700 !important;
}

.inputControl::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff !important;
  font-size: 28px !important;
  font-weight: 700 !important;
}

.smallText {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #DCDCDC;
}

.suggestionResult {
  font-size: 18px;
  line-height: 38px;
  color: #959595;
  font-weight: 700;
}

.suggestionResult.active, .setting-menu.current {
  color: #ffffff;
}

.heading {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: #ffffff;
}

.GamesTitle {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
}

.gamesDescription {
  font-size: 16px;
  line-height: 26px;
  color: #959595;
  font-weight: 500;
}

.mainHeading {
  font-size: 42px;
  line-height: 70px;
  font-weight: 800;
  color: #ffffff;
}

.settingsNavigation a {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: #959595;
}

.settingsNavigation a:focus {
  color: #ffffff;
}

.borderLeft {
  border-left: 2px solid #3E4246;
  height: 100vh;
}

.transparentBg {
  background-color: transparent !important;
}

.transparentBlackBg {
  background: rgba(21, 21, 21, 0.5);
}

.inputType {
  background-color: #212123 !important;
  border: 0px !important;
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: #DCDCDC !important;
}

.btnGarident {
  background: linear-gradient(270deg,#A83AFE 0%,#6E59FE 100%);
  color: #ffffff !important;
  font-weight: 500 !important;
}

.inputType::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595 !important;
  font-size: 16px !important;
}

.inputType:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #959595 !important;
  font-size: 16px !important;
}

.inputType::-ms-input-placeholder { /* Microsoft Edge */
  color: #959595 !important;
  font-size: 16px !important;
}

.cardBG {
  background-color: #212123 !important;
  border-radius: 10px !important;
}

.price {
  font-size: 38px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 700;
}

.gradientBtn {
  border-radius: 10px;
  background: linear-gradient(300.3deg, #0575e6 9.6%, #ff0cf5 92.85%);
  color: #ffffff !important;
}

.customTable th{
  font-size: 16px !important;
  line-height: 26px !important;
  color: #959595 !important;
  background-color: #151617 !important;
}

.customTable td {
  font-size: 18px !important;
  line-height: 20px !important;
  color: #DCDCDC !important;
  font-weight: 500 !important;
  background-color: #151617 !important;
}

.gradientText {
  background: linear-gradient(270deg, #a83afe 0%, #6e59fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.cancelgradientText {
  background: linear-gradient(270deg, #8a54d0 -1.64%, #d71f7b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.paddingTop90 {
  padding-top: 90px;
}
.mainContainer {
  padding: 70px 18px 60px 60px;
}
.focusedElement{
   box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) ;
}
.focusedSearch {
box-shadow: 0px 15px 10px -15px rgba(13, 110, 253, 0.25) ;
}