body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.btnGradient {
  background: linear-gradient(300.3deg,#0575e6 9.6%,#ff0cf5 92.85%);
  border: none !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  padding: 10px !important;
  border-radius: 60px !important;
}

.bg {
  background: linear-gradient(270deg,#A83AFE 0%,#6E59FE 100%);
}

.textOffWhite {
  color: #959595;
}

.font500 {
  font-weight: 500;
}

.customOverlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.12%, rgba(0, 0, 0, 0.52) 51.58%, rgba(0, 0, 0, 0.8) 100%);
  bottom: 0;
  top: auto;
}

.banner {
  object-fit: cover;
  object-position: top;
  height: 500px;
}

.store {
  position: relative;
  border-radius: 6px;
}

.store.selected {
  outline: 2px solid #a83afe;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  height: 1em;
  margin: 0;
  margin-left: auto;
  flex: none;
  outline: none;
  transition: all 0.2s;
  width: 1em;
  position: absolute;
  top: 2px;
  right: 8px;
}
.checkbox::after{
   border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.6em;
    left: 0.35em;
    position: absolute;
    top: 0.2em;
    transform: rotate(45deg);
    width: 0.3em;
}
.checkbox:focus{
  box-shadow: 0 0 0 2px #A83AFE;
}
.checkbox:checked{
     background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%); 
    border-color: #A83AFE;
}
.gamePosterPlaceholder {
  background: linear-gradient(300.3deg,#0575e6 9.6%,#ff0cf5 92.85%);
  border: none !important;
  border-radius: 60px !important;
  height: 265px;
  width: 352px;
}